* {
    margin: 0;
    box-sizing: border-box;

}

@media screen and (min-width:320px) and (max-width:760px) {
    .body {
        background-color: #0A0A0A;
        width: 375px;
        height: 1000px;
        padding: 0px 15px;
    }

    .bodyhead {
        width: 343px;
        height: 565px;
        margin-top: 80px;
        border: 1px red solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bodytag {
        width: 343px;
        height: 57px;
        border: 1px red solid;

    }

    .bodytag h1 {
        font-size: 45px;
        color: #FFFFFF;
    }

    .bodytagdown {
        width: 343px;
        height: 492px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bodytagup {
        height: 404px;
        width: 343px;
        border: 1px red solid;
    }

    .bodytagdood {
        width: 332px;
        height: 48px;
        border: 1px red solid;
    }
}