* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.head {
    width: 100%;
    height: 96px;
    background-color: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #0A0A0A;
}

.header {
    width: 100%;
    max-width: 1440px;
    padding: 0px 60px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.name {
    width: 400px;
    height: 48px;
    color: #C7C7C7;
    font-size: 20px;


}

@media screen and (min-width:320px) and (max-width:760px) {
    .head {
        display: flex;

    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;
    }

    .head .intra {
        display: none;
    }

    .head .intra2 {
        display: flex;

    }

    .head .name h1 {
        width: 200px;
        font-size: 20px;
        width: 1;

    }

    .head .name {
        display: flex;
        align-items: center;
        width: 170px;
    }
}

.intra {
    width: 207px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #C7C7C7;


}

.intra2 {
    display: none;
}

.mainbody {

    width: 1224px;
    height: 810px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.mainleft {

    width: 544px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.mainrigth {
    width: 600px;
    height: 700px;

}

.mainrigth img {
    width: 100%;
    height: 100%;
}

.mainleftdeed {
    width: 100%;
    height: 244px;

}

.mainleftdood {
    width: 327px;
    height: 54px;

    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
}

.mainlefttext {
    width: 580px;
    height: 182px;

}

.mainlefttext2 {
    width: 100%;
    height: 54px;
}

.mainlefttext h1 {
    font-size: 70px;
    font-weight: 400;
}

.mainlefttext span {
    font-size: 70px;
    font-weight: 400;
}

.mainlefttext2 p {
    color: #C7C7C7;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-decoration-skip-ink: none;
}

.contantme {
    width: 187px;
    height: 54px;
    background-color: #D3E97A;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #0A0A0A;
    font-weight: 500;
}

.button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0A0A0A;
    z-index: 10;

}

.in {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in img {
    width: 26px;
    height: 26px;
}

.github img {
    width: 26px;
    height: 26px;
}

.mainborder1px {
    width: 100%;
    max-width: 1440px;
    max-height: 811px;
    height: 100%;
    border-bottom: 1px #484848 solid;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:320px) and (max-width:760px) {
    * {

        font-weight: 400;
        text-align: left;
        text-decoration-skip-ink: none;

    }

    .mainbody {
        display: flex;
        flex-direction: column;
    }

    .main {
        height: auto;
    }

    .mainrigth {
        width: auto;
        height: 400px;
        margin-top: 14px;
    }

    .mainleftdeed {
        width: 300px;
        height: 284px;
        font-size: small;
    }

    .mainlefttext h1 {
        font-size: 47px;
        font-weight: 400;

    }

    .mainbody {
        width: 100%;
        height: 100%;
    }

    .mainleft {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        justify-content: space-around;
    }

    .mainlefttext {
        width: 100%;
        height: auto;
    }

    .mainleftdeed {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mainlefttext2 {
        width: 100%;
        height: auto;
    }

    .mainborder1px {
        width: 100%;
        padding-bottom: 60px;
    }

    .mainer {
        display: flex;
        align-items: start;
    }

    .interview {
        width: auto;
        height: 3060px;
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;



    }

    .mainleftdood {
        display: flex;
        justify-content: space-around;
    }

    .interviewh1 {

        height: 133px;
        color: #FFFFFF;
        gap: 15px;
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

    }

    .interviewh1 p {

        color: #C7C7C7;
        font-size: 18px;
    }

    .interviewsite {
        height: 877px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

    }

    .sitezurag {
        width: 343px;
        height: 343px;
        border: 1px solid red;
        background-color: #1A1A1A;
        overflow: hidden;
        border-radius: 8px;
    }

    .sitezurag img {
        width: 343px;
        height: 343px;
        padding-left: 20px;
        object-fit: cover;
        padding-top: 20px;
        padding-right: 20px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;


    }

    .zuragbox {
        width: 123px;
        height: 30px;
        background-color: #0A0A0A;
        border-radius: 30px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;

    }

    .sitetext {
        height: 494px;
        width: 343px;
        display: flex;
        font-size: 20px;
        flex-direction: column;
        justify-content: space-between;
    }

    .sitetextup {
        width: 343px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sitetext h1 {
        width: 343px;
        height: 68px;
        font-size: 24px;
        color: #FFFFFF;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        text-decoration-skip-ink: none;

    }

    .sitetext p {
        width: 343px;
        height: 156px;
        font-size: 19px;
        color: #C7C7C7;
        font-weight: 500;

        text-align: left;
        text-decoration-skip-ink: none;

    }

    .projectinfo {
        width: 343px;
        height: 156px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .livebutton {
        width: 343px;
        height: 26px;
        display: flex;
        align-items: center;

    }

    .projecttext {
        width: 343px;
        height: 40px;
        display: flex;
        align-items: start;
    }

    .projecttext h1 {
        width: 200px;
        height: 24px;
        font-size: 20px;

    }

    .year {
        width: 343px;
        height: 58px;
        border-top: 1px solid #484848;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .role {
        width: 343px;
        height: 58px;
        border-top: 1px solid #484848;
        border-bottom: 1px solid #484848;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .year h1 {
        width: 33px;
        height: 26px;
        font-size: 20px;

    }

    .year p {
        width: 46px;
        height: 26px;

    }

    .role h1 {
        width: 33px;
        height: 26px;
        font-size: 20px;
    }

    .role p {
        width: 140px;
        height: 26px;
        font-size: 15px;
    }

    .livebutton a {
        color: #D3E97A;
        font-size: 15px;
        display: flex;
        align-items: center;
    }

    .see-on-github a img {
        width: 20px;
        height: 20px;
    }

    .see-on-github {
        padding-left: 15px;
    }

    .aboutme {
        width: auto;
        height: 670px;
        padding: 0px 15px;
        margin-top: 40px;
        border-top: 1px solid #484848;
        border-bottom: 1px solid #484848;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutmetext {
        width: 343px;
        height: 184px;
        margin-top: 20px;
    }

    .aboutmetext p {
        width: 343px;
        height: 135px;
        font-size: 18px;
        color: #C7C7C7;
    }

    .aboutmetext a {
        color: #D3E97A;
    }

    .aboutmeimg img {
        width: 343px;
        height: 400px;

    }

    .aboutmeimg {
        width: 343px;
        height: 400px;
        margin-top: 40px;

    }

    .foot {
        width: 100%;
        padding: 0px 15px;
        height: 1069px;
        background-color: #0A0A0A;
        display: flex;
        flex-direction: column;
    
        align-items: center;
    }

    .footer {
        width: 343px;
        height: 895px;
        display: flex;
        padding-top: 60px;
        flex-direction: column;
        justify-content: space-between;
    }

    .footertext {
        width: 343px;
        height: 191px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .footertextup {
        width: 343px;
        height: 119px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .footertext h1 {
        width: 343px;
        height: 43px;

        font-size: 28px;

        font-weight: 400;
        line-height: 43px;
        letter-spacing: -0.02em;
        text-decoration-skip-ink: none;
    }

    .mailtext {
        width: 269px;
        height: 60px;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -0.02em;
        text-decoration-skip-ink: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .mailtext1 {
        width: 269px;
        height: 26px;

        display: flex;
        justify-content: space-evenly;

    }

    .mailtext2 {
        width: 269px;
        height: 26px;

    }

    .mailtext1-2 {
        width: 85px;
        height: 26px;

        font-size: 17px;
        color: #C7C7C7;
    }

    .mailtext1-3 {
        width: 160px;
        height: 26px;

        font-size: 17px;
        color: #FFFFFF;
    }

    .mailtext2-1 {
        width: 270px;
        height: 26px;
        font-size: 17px;
        padding-left: 8px;
        color: #C7C7C7;
    }

    .footicon {
        width: 224px;
        height: 32px;
        display: flex;
        justify-content: space-around;

    }

    .footicon img {
        width: 30px;
        height: 30px;


    }

    .submittouch {
        width: 343px;
        height: 580px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .submittouchname p {
        font-size: 16px;
        color: #C7C7C7;
        width: 44px;
        height: 26px;
    }

    .submittouchname input {
        width: 343px;
        height: 46px;
        background-color: #1A1A1A;
        border: 0px;
    }

    .submittouchname textarea {
        width: 343px;
        height: 148px;
        background-color: #1A1A1A;
        border: 0px;
    }

    .submittouch1 {
        width: 343px;
        height: 494px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .submitclick {
        width: 140px;
        height: 54px;
        background-color: #D3E97A;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .submitclick h1 {
        color: #0A0A0A;


        font-size: 20px;

        text-align: left;

        text-decoration-skip-ink: none;
        
    }
    .copyrigth {
        width: 200px;
        height: 26px;
        font-size: 9px;
        color: #C7C7C7;
        margin-top: 60px;
    }
    .copyrigth h1 {
        width: 200px;
        height: 26px;
        
        color: #C7C7C7;
    }


}